<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/inflate.js"></script>
	<script type="text/javascript" src="js/zip.js"></script>
	<script type="text/javascript" src="js/epub.js"></script>
	<script type="text/javascript" src="monocle/scripts/monocore.js"></script>
	<script type="text/javascript" src="monocle/scripts/monoctrl.js"></script>
	<script type="text/javascript" src="reader.js"></script>

	<link rel="stylesheet" type="text/css" href="monocle/styles/monocore.css" />
	<link rel="stylesheet" type="text/css" href="monocle/styles/monoctrl.css" /> 
    <link rel="stylesheet" type="text/css" href="test.css" />
</head>
  <body>
      <div id="reader"></div>
  </body>

</html>
