body {
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}


.jumbotron:after {
	background: url("/static/img/sumerian-tile.jpg") repeat scroll center center transparent;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	opacity: 0.4;
	position: absolute;
	right: 0;
	top: 0;
}

.subhead {
	border-bottom: 1px solid #DDDDDD;
	text-align: left;
}
.jumbotron {
	background: linear-gradient(45deg, #633704 0%, #E37B05 100%) repeat scroll 0 0 transparent;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
	color: #FFFFFF;
	padding: 40px 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
.subhead h1 {
	font-size: 60px;
}

.footer {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	margin-top: 70px;
	padding: 30px 0;
	text-align: center;
}

.thumbnail {
	border: 5px solid #ddd;
}

/** reader css **/
body {
  margin: 0;
  padding: 0;
/*  background: #000;*/
  background: #fff;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}

#components {
  display: none;
}

#reader, #readerBg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#reader div pre {
  white-space: normal;
  font: normal 100% serif;
}

.board {
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 90%;
}

.runner {
  color: #542;
  text-transform: uppercase;
  font-size: 82%;
}

.pageNumber, .bookTitle, .chapterTitle {
  padding: 3% 2%;
}

.bookTitle, .chapterTitle {
  position: absolute;
  top: -5%;
  left: 6%;
  cursor: pointer;
  padding-left: 0;
}

.chapterTitle {
  top: auto;
  bottom: -5%;
  right: 20%;
}

.pageNumber {
  position: absolute;
  bottom: 1%;
  right: 8%;
  padding-right: 0;
}

#readerBg {
  background-color: #ccc;
}

#toc ul.root {
  position: absolute;
  top: 50px;
  left: 8%;
  max-height: 75%;
  max-width: 80%;
  background: #E0D3C0;
  -webkit-box-shadow: 1px 2px 2px #652;
  -moz-box-shadow: 1px 2px 2px #652;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow-y: auto;
  color: #432;
  font: 11pt Georgia, serif;
  text-shadow: 1px 1px #EEE6D0;
  border: 1px solid #EED;
  z-index: 9;
}

.tocArrow {
  position: absolute;
  top: 40px;
  left: 16%;
  width: 20px;
  height: 20px;
  -webkit-transform: rotateZ(45deg);
  background: #E0D3C0;
  z-index: 8;
}

#toc li {
  list-style: none;
  line-height: 220%;
  padding-left: 1em;
  padding-right: 2em;
  border-bottom: 2px groove #FFF6E9;
  cursor: pointer;
}

#toc li span {
  display: block;
}

#toc ul li:last-child {
  border-bottom: none;
}

#toc ul {
  margin: 0;
  padding: 0;
}
#toc ul.root {
  border-top: none;
}



/* Overrides to core elements */

div.monelem_container {
  background: none;
  width: auto;
}

div.monelem_page {
  top: 6px;
  bottom: 6px;
  right: 4px;
  border-color: #CBA;
  outline: none;
  -webkit-box-shadow: 1px 0 1px #CBA;
  -moz-box-shadow: 1px 0 1px #CBA;
  box-shadow: 1px 0 2px #CBA;
  -webkit-border-top-left-radius: 26px 4px;
  -webkit-border-bottom-left-radius: 26px 4px;
  -moz-border-top-left-radius: 26px 4px;
  -moz-border-bottom-left-radius: 26px 4px;
  border-top-left-radius: 26px 4px;
  border-bottom-left-radius: 26px 4px;
  background-color: #FFFFFE;
  background-image: -webkit-linear-gradient(0deg, #EDEAE8 0px, #FFFFFE 24px);
  background-image: -moz-linear-gradient(0deg, #EDEAE8 0px, #FFFFFE 24px);
  background-image: linear-gradient(90deg, #EDEAE8 0px, #FFFFFE 24px);
}

div.monelem_sheaf {
  left: 6%;
  right: 8%;
  top: 8%;
  bottom: 8%;
}


/* Overriding magnifier button display */

div.monelem_controls_magnifier_button {
  color: #632;
  padding: 2%;
  top: 1%;
  right: 6%;
}


/* Overriding table of contents display */

div.monelem_controls_contents_container {
  background: #E0D3C0;
  border: 1px solid #EED;
  font: 11pt Georgia, serif;
  color: #432;
  text-shadow: 1px 1px #FFF6E0;
}

div.monelem_controls_contents_chapter {
  border-bottom: 2px groove #FFF6E9;
}

li.monelem_controls_contents_chapter_active {
  text-shadow: -1px -1px #876;
  background: #BA9;
}


/* Overriding the scrubber display */
div.monelem_controls_scrubber_container {
  left: 5.5%;
  right: 9%;
  bottom: 2%;
  background: #FFFEFC;
}

div.monelem_controls_scrubber_track {
  border-color: #432;
}

div.monelem_controls_scrubber_needle {
  border-color: #432;
  background: #E0D3C0;
}

div.monelem_controls_scrubber_trail {
  background: #E0D3C0;
}
